# Theme based ignores  

 Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

# Ignore Code files
*.code-workspace
.vscode/
_posts/templates/*
_projects/templates/*

Gemfile
Gemfile.*