---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .card-body p img {
     margin-left: 10%;
     max-width: 80%;
 }