---
layout: default
---


<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card">
      <h1 class="card-title">Impressum</h1>
      Dr. Andreas Heil<br />
      Obere Bergstr. 23<br />
      76703 Kraichtal<br />
      <br />
      Tel +49 (174) 9045832<br />
      Mail info@aheil.de<br />
      Ust-IdNr DE234137169
    </div>
  </div>

  <div class="col-lg-7">

    <div class="card">
      <h1 class="card-title">Datenschutzerklärung</h1>

      <h2>Datenschutz auf einen Blick</h2>

      <h3>Allgemeine Hinweise</h3>

      <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten
        passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
        identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie der diesem Text
        aufgeführten Datenschutzerklärung.</p>

      <h3>Datenerfassung auf dieser Website</h3>
      <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?
      </h4>

      <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie
        dem Impressum dieser Website entnehmen.</p>

      <h4>Wie werden Ihre Daten erfasst?
      </h4>

      <p>
        Ihre Daten werden dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln,
        die Sie in ein Kontaktformular eingeben oder per E-Mail oder Telefonanruf übersenden. Hierzu zählen auch
        implizit übermittelte Daten, wie die angezeigte Rufnummer.
      </p>
      <p>
        Andere Daten werden beim Besuch der Website expizit nicht erfasst. Es werden keine technische Daten (z.B.
        Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs) erfasst noch gespeichert.
      </p>
      <p>
        Diese Seiten werden teilweise durch GitHub (GitHub, Inc.) gehostet. Der Umgang mit den persönlichen Daten,
        insbesondere den automatisiert ermittelten Daten und deren Weiterverwendung sind der <a
          href="https://docs.github.com/en/github/site-policy/github-privacy-statement">Datenschutzerklärung von
          GitHub</a> zu entnehmen. Wenn Sie ein GitHub-Konto besitzen und angemedet sind, während Sie diese
        Webseite nutzen, können die erhobenen Daten Ihrem Account zugeordnet werden. Sie verhindern dies, indem Sie sich
        bei GitHub abmelden, bevor Sie diese Webseite nutzen.
      </p>
      <p>
        Manche Links verweisen auf Amazon-Seiten (Amazon.com, Inc.) und nutzen einen Affiliate-Link. Sobald Sie mit den
        Produkten und Dienstleistungen von Amazon interagieren, erhebt Amazon Daten von Ihnen. Amazon unterscheidet
        zwischen Informationen, die Sie aktiv dem Unternehmen geben und Informationen, die automatisch gesammelt und
        gespeichert werden. Zu den &#8220;aktiven Informationen&#8221; zählen zum Beispiel Name, E-Mail-Adresse,
        Telefonnummer, Alter, Zahlungsinformationen oder Standortinformationen. Sogenannte „automatische Informationen“
        werden in erster Linie über Cookies gespeichert. Dazu zählen Informationen zum Userverhalten, IP-Adresse,
        Gerätinformationen (Browsertyp, Standort, Betriebssysteme) oder die URL. Amazon speichert weiters auch den
        Clickstream. Damit ist der Weg (Reihenfolge der Seiten) gemeint, den Sie als User zurücklegen, um zu einem
        Produkt zu kommen. Auch um die Herkunft einer Bestellung nachvollziehen zu können, speichert Amazon Cookies in
        Ihrem Browser. So erkennt das Unternehmen, dass Sie über unsere Website eine Amazon-Werbeanzeige oder einen
        Partnerlink angeklickt haben. Wenn Sie ein Amazon-Konto haben und angemeldet sind, während Sie auf dieser
        Webseite surfen, können die erhobenen Daten Ihrem Account zugewiesen werden. Das verhindern Sie, indem Sie sich
        bei Amazon abmelden, bevor Sie auf dieser Website surfen. Weitere Details zum Umgang mit persönlichen Daten
        durch Amazon sind der <a
          href="https://www.amazon.de/gp/help/customer/display.html?nodeId=GX7NJQ4ZB8MHFRNJ">Datenschutzerklärung von
          Amazon</a> zu entnehmen.
      </p>
      <p>
        Auf dieser Seite bestet die Möglichkeit sich bei einem durch Substack () versendeten Newsletter anzumelden.
        Konkrete Details zum Umgang mit Ihren Daten bei Substack sind der <a
          href="https://substack.com/privacy">Datenschutzerklärung von Substack</a> zu entnehmen. Wenn Sie über ein
        Substack-Konto verfügen und angemeldet sind, während Sie auf dieser
        Webseite surfen, können die erhobenen Daten ggf. Ihrem Account zugewiesen werden. Das verhindern Sie, indem Sie
        sich bei Substack abmelden, bevor Sie auf dieser Website surfen.
      </p>

      <h4>Wofür werden Ihre Daten genutzt?</h4>
      <p>Auf diesen Seiten übemrittelte Daten werden nur für den von Ihnen bestimmten Zwecke genutzt, z.B. für die
        Zusendung eines Angebots oder dem Erhalt des Newsletters.
      </p>

      <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?
      </h4>
      <p>
        Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
        personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten
        zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie jederzeit die im Impressum
        angegebenen Adresse nutzen. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde
        zu.
      </p>
      <p>
        Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
        personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter „Recht auf
        Einschränkung der Verarbeitung“.
      </p>

      <h2>Allgemeine Hinweise und Pflichtinformationen
      </h2>
      <h3>Datenschutz</h3>
      <p>
        Als Betreiber dieser Seiten nehmen wir den Schutz Ihrer persönlichen Daten sehr ernst. Aus diesem Grund werden
        keinerlei Daten automatisch erfasst oder gespeichert. Von Ihnen explizit übermittelte personenbezogene Daten
        werden vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung
        behandelt.
      </p>
      <p>
        Wenn Sie diese Website benutzen, werden von dieser Seite auf automatischen Weg keinerlei personenbezogene Daten
        erhoben.
        Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
        Datenschutzerklärung erläutert, welche Daten erhoben werden und wofür diese genutzt werden. Sie erläutert
        auch, wie und zu welchem Zweck das geschieht.
      </p>
      <p>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.
      </p>

      <h3>Hinweis zur verantwortlichen Stelle</h3>
      <p>
        Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:<br />
        <br />
        Dr. Andreas Heil<br />
        Obere Bergstr. 23<br />
        76703 Kraichtal<br />
        Telefon: +49 (0) 174 9045832<br />
        E-Mail: info@aheil.de<br />
      </p>

      <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung
      </h3>
      <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
        bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die
        Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>

      <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)</h3>

      <p>Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie jederzeit das
        Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, gegen die Verarbeitung Ihrer
        personenbezogenen Daten Widerspruch eunzulegen; dies gilt auf für ein auf diese Bestimmungen gestütztes
        Profiling. Die jeweilige Rechtsgrundlage, auf denen einen Verarbeitung beruht, entnehmen Sie dieser
        Datenchutzerklärung. Wenn Sie Widerspruch einlegen, werden wir Ihre betroffenen personenbezogenen Daten nicht
        mehr verarbeite , es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die
        Ihre Interessen, Rechten und Freiheiten überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder
        Verteidigung von Rechtsansprüchen (Widerspruch nach Art. 21 Abs. 1 DSGVO).</p>
      <p>Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht,
        jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger
        Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung seht.
        Wenn Sie widersprechen, werden Ihre personenbezogenen Daten anschließend nicht mehr zum Zwecke der Direktwerbung
        verwendet (Widerspruch nach Art. 21 Abs. 2 DSGVO).</p>

      <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde
      </h3>
      <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde,
        insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des Orts des
        mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder
        gerichtlicher Rechtsbehelfe.</p>

      <h3>Recht auf Datenübertragbarkeit
      </h3>
      <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
        automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format
        aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen
        verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>

      <h3>SSL- bzw. TLS-Verschlüsselung</h3>
      <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
        Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-
        Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von
        „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL- bzw.
        TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nach Stand der Technik nicht
        von Dritten mitgelesen werden.</p>

      <h3>
        Auskunft, Löschung und Berichtigung
      </h3>
      <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft
        über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
        Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu weiteren
        Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an
        uns wenden.
      </p>

      <h3>Recht auf Einschränkung der Verarbeitung</h3>
      <p>
        Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Hierzu
        können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf
        Einschränkung der Verarbeitung besteht in folgenden Fällen:
      </p>

      <ul>
        <li>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir in
          der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung
          der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li>
        <li>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie statt der
          Löschung die Einschränkung der Datenverarbeitung verlangen.</li>
        <li>Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung, Verteidigung oder
          Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung die Einschränkung
          der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li>
        <li>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen Ihren und
          unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen überwiegen, haben Sie
          das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li>
        <li>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von
          ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung
          von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus
          Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats
          verarbeitet werden.</li>
      </ul>


      <h2>Datenerfassung auf dieser Website
      </h2>

      <h3>Kontaktformular</h3>
      <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular
        inklusive
        der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen
        bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
      <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der
        Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In
        allen übrigen Fällen beruht die gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer Einwilligung
        (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde.</p>
      <p>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern,
        Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach
        abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere
        Aufbewahrungsfristen
        – bleiben unberührt.</p>

      <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
      <p>Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus
        hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns
        gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
      <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der
        Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In
        allen übrigen Fällen beruht die Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) und/oder auf
        unseren berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO), da wir ein berechtigtes Interesse an der
        effektiven
        Bearbeitung der an uns gerichteten Anfragen haben.</p>
      <p>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung
        auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.
        B.
        nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche
        Aufbewahrungsfristen – bleiben unberührt.</p>

    </div>

  </div>